<h2><%= @category.name %>: </h2>

<%= render partial: 'shared/question', collection: @questions, :locals => {start_language: @start_language, end_language: @end_language } %>

<script>
  $(document).ready(function(){
    var questions = $('.question_index');
    var players = {};

    question_id_array = [];

    for (var i=0;i<questions.length;i++) {
      question_link = $(questions[i]).find('a').attr('href');
      question_id   = question_link.match(/\d+/).join("");
      question_id_array.push(question_id);
    };

    question_id_array.forEach(function(questionId) {
      $.get('get_answer/', {question_id: questionId}, function(response) {

          players[questionId] = new Player({
              play_sel: "#Play" + questionId,
              view_sel: "#preview_" + questionId
          });

          players[questionId].play(response);
      });
    });
  });
</script>