<div class="container">

<div id='signin' style="width:480px;margin:60px auto;">
  <%= form_tag attempt_login_path, class: 'form-signin', method:'POST'  do %>
  
  <h2 class="form-signin-heading">Please Sign In</h2>
    <div class="form-group">
    <%= text_field_tag :email_username, "", class: 'form-control input-lg',
    placeholder: 'Email address', style: 'margin:20px; width:440px; border-radius:5px;', autofocus: true %>
    </div>
    <div class="form-group">
    <%= password_field_tag :password, "", class: 'form-control input-lg', style: 'margin:20px; width:440px; border-radius:5px;',
    placeholder: 'Password'%>
    </div>
      <%= submit_tag 'Sign In', class: 'btn-lg btn-success sign_in_submit', style: 'margin:0 10%; width:80%; border-radius: 5px;'  %>
  <% end %>
  </div>
</div>