<!DOCTYPE html>
<html>
<head>
  <title>Delta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans' rel='stylesheet' type='text/css'> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
