<h2 class="form-signin-heading">Sign up for an account</h2>

<%= render partial: "form", locals: { user: @user } %>

<script>
  $(document).ready(function(){
    if (document.referrer.indexOf(window.location.hostname) > 0 ) {
      $('#referer_url').val(document.referrer);
    }
  });
</script>