<div class="team answers new">
  <div class="media">
    <%= image_tag 'face.png', :class=>"pull-left team_image" %>
    <div class="media-body">
      <h4 class="media-heading">Phil London (Project Manager)</h4>
      <p class="team_desc">Phil loves creating applications based on his ridiculous ideas. He enjoys people telling him a challenge is too hard, just so he can prove them wrong. He is a recent graduate of Sarah Lawrence College. His favorite physical activity is traversing the DOM. 
        <br><a href="https://github.com/plondon" target="_blank">Github</a>
        <br><a href="https://www.linkedin.com/pub/philip-london/70/701/448" target="_blank">LinkedIn</a>
        <br><a href="http://plondon.github.io/" target="_blank">Personal Website</a></p>
    </div>
  </div>
  <div class="media">
    <%= image_tag 'shaun.jpg', :class=>"pull-left team_image" %>
    <div class="media-body">
      <h4 class="media-heading">Shaun McGeever (Team Lead)</h4>
      <p class="team_desc">
        Shaun McGeever is a recent graduate of TCNJ (class of 2012) with a BS in Mechanical Engineering. Shaun plans to take his previous design skills, combined with his new coding abilities, and apply them as a full stack developer. He enjoys long naps and creating RESTful routes.
        <br><a href="https://github.com/shaunmcgeever" target="_blank">Github</a>
      </p>
    </div>
  </div>
  <div class="media">
    <%= image_tag 'adrian.png', :class=>"pull-left team_image" %>
    <div class="media-body">
      <h4 class="media-heading">Adrian Pask</h4>
      <p class="team_desc">
        Adrian founded a vegan cooking company in 2010 which successfully marketed real world courses only using online advertising. Bitten by the web development bug, a few months later he quit his job as an Associate Director at Standard & Poor's and founded SpreadSheet SuperStar, an online e-learning company focused on Microsoft Excel. Prior to web development worked as an actuary and credit analyst at Moody's, New York Life and Milliman.
        <br><a href="https://github.com/Adrian-Pask" target="_blank">Github</a>
      </p>
    </div>
  </div>
  <div class="media">
    <%= image_tag 'johnathan.jpg', :class=>"pull-left team_image" %>
    <div class="media-body">
      <h4 class="media-heading">Johnathan Weisner</h4>
      <p class="team_desc">
        Johnathan is a man who loves his puzzles. Other people call them problems but he finds joy in the search for proper solutions. He has a fine arts degree and plenty of experience programming as a hobby. On the side he builds robots and reads hard science fiction books. Johnathan loves building full stack but naturally gravitates towards the tough challenges during development. Where ever those might be.
        <br><a href="https://github.com/JohnathanWeisner" target="_blank">Github</a>
      </p>
    </div>
  </div>
</div>