<% if object.errors.any? %>
  <div id="error_explanation">

      Sorry, this form contains <%= pluralize(object.errors.count, "error") %>:

    <ul class ="signup_errors">
    <% object.errors.full_messages.each do |msg| %>
      <li>- <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>