
    <div id="recorder">
      <form method="post" action="/answers/create.json" name="recorder">
        <textarea name="box" placeholder="Type code example here. Then hit record to start recording your demo."  cols="50" rows="7"></textarea>
        <input id="Save" type="submit" value="Save" class="btn btn-warning btn-lg"/>
      </form>
      <button id="Record" class="btn btn-danger btn-lg">Record</button>
      <button id="Stop" class="btn btn-primary btn-lg">Stop</button>
      <button id="Play" class="btn btn-primary btn-lg">Play</button>
      <button id="Clear" class="btn btn-warning btn-lg">Clear</button>

      <pre id="view"></pre>
      <div id="loader" class="hidden"> <%= image_tag("cat_loading.gif") %> </div>
    </div>