.answers.new {
  width: 95%;
}

.jimbo_header.custom.question {
  margin-top: -30px;
  font-size: 1.5em;
}

.instructions {
  position: absolute;
  top: 120px;
  left: 42px;
  width: 280px;
  height: 344px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding: 25px;
  background-color: #F4FCE8;
  margin: 20px 0 0 0;
}
.instructions h3 {
    margin: 0;
}
.instructions ol {
    padding-left: 19px;
    margin-top: 10px;
}
.instructions li {
    font-size: 0.9em;
    margin-bottom: 5px;
}
.jimbo_header {
    color:white;
}
#preview_record {
    padding: 2px 4px;
}
#preview_stop {
    padding: 2px 4px;
}
#preview_play {
    padding: 2px 4px;
}
#preview_save {
    padding: 2px 4px;
}



@media all and (max-width: 1230px) {
  .instructions {
    position: relative;
    top: 0;
    left: 0;
    width: 335px;
    margin: -15px auto;
    margin-bottom: 20px;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 8px;
    background-color: #F4FCE8;
  }
}

@media all and (max-width: 400px) {
  .instructions {
    width: 100%;
  }
}
