/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require answer
 *= require answer_show
 *= require category
 *= require language
 *= require login_signup
 *= require questions_show
 *= require recorder
 *= require team
 * require_tree .
 *= require_self
 */

/* footer */
/*font-family: 'Open Sans', sans-serif; 400, 300*/
/*font-family: 'Raleway', sans-serif; 800*/


footer {
  position: relative;
  top: 10px;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding-top: 33px;
  padding-left: 10%;
  font-size: 1.2em;
  background-image: url('dark_geometric.png');
  font-weight: 100;
  color: white;
}


#flash_box {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.flash_success{
	display: inline-block;
	padding: 25px;
	margin-top: 30px;
	border: 2px solid black;
	border-radius: 7px;
	background-color: #F4FCE8;

}

h1 {
  color: white;
}

.flash_notice {
	display: inline-block;
	padding: 25px;
	margin-top: 30px;
	border-radius: 7px;
	border: 2px solid black;
	background-color: #F4FCE8;
}


#error_explanation{
	text-align: center;
	margin-bottom: 15px;
	padding: 5px;
	background-color: #F4FCE8;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	border-radius: 7px;
	border: 2px solid black;
}

.signup_errors{
	list-style: none;
	text-align: left;
	padding-left: 60px;

}

.username_header{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 45px;
	padding: 15px;
	color: #F4FCE8;
}

.team_link {
  color: white;
}

.team_link:hover {
  color: white;
  text-decoration: none;
}

