.main-button {
   border-top: 1px solid #e5e7e8;
   background: #1a695b;
   background: -webkit-gradient(linear, left top, left bottom, from(#4e9689), to(#1a695b));
   background: -webkit-linear-gradient(top, #4e9689, #1a695b);
   background: -moz-linear-gradient(top, #4e9689, #1a695b);
   background: -ms-linear-gradient(top, #4e9689, #1a695b);
   background: -o-linear-gradient(top, #4e9689, #1a695b);
   padding: 10px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   text-decoration: none;
   vertical-align: middle;
   }
.main-button:hover {
   border-top-color: #124239;
   background: #124239;
   color: #ccc;
   }
.main-button:active {
   border-top-color: #256156;
   background: #256156;
   }