/*font-family: 'Open Sans', sans-serif; 400, 300*/

/*font-family: 'Raleway', sans-serif; 800*/

/* .navbar */
 body.custom.splash {
    height: auto;
    background-color: grey;
    background-image: url('sublime_blur2.png');
    background-size: cover;
}
body.custom {
    background-image: url('dark_geometric.png');
}
.navbar.nav {
    margin-bottom: 0;
    font-family:'Open Sans', sans-serif;
    border-radius: 0;
}
/* language container */
 .container.wrapper {
    position: relative;
    width: 90%;
    margin-left: 5%;
    padding: 0;
    padding-bottom: 250px;
}

.main-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url(squared_metal_light_blue_hover.png);
}

.styled-select {
    width: 70%;
    height: 450px;
    float: right;
    margin-right: -80px;
    background-image: url('dark_geometric.png');
    padding: 65px;
    padding-left: 20px;
    box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
    -webkit-box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
    -moz-box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
}

#bs-example-navbar-collapse-1{
    background: url(hazy.png);
}

.pick_languages {
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}
.pick_languages h1 {
    font-family:'Open Sans', sans-serif;
    font-size: 6em;
    font-weight: 300;
    margin: 0;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}
/* list of languages */

#start_language {
    margin-left: 260px;
    margin-top: -56px;
}

#end_language {
    margin-left: 380px;
    margin-top: -55px;
}

.styled-select select {
    padding: 6px;
    position: absolute;
    margin-top: -45px;
    font-size: 0.3em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    /*appearance:none;*/
    cursor:pointer;
}
/* go button */
 .go_link {
    color: white;
    margin-left: 0px;
    margin-top: 10px;
    background-color: #4E9689;
    padding: 10px;
    width: 100px;
}
.go_link a {
    font-size: 1.2em;
    color: white;
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
}
.go_link span:hover {
    cursor: pointer;
}
.go_link a:hover {
    color: white;
    text-decoration: none;
}

/* code block preview */

#code_example {
  width: 45%;
  float: left;
  margin-left: -123px;
  box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
  -webkit-box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
  -moz-box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6 );
}

.code_example_view {
    display: block;
    padding: 18.5px;
    margin: 0 0 0px;
    font-size: 20px;
    line-height: 1.42857143;
    height: 450px;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background: #d4d8d9;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.code_example_view2 {
    display: block;
    position: relative;
    padding: 18.5px;
    margin: -185px 0 0px;
    z-index: 100;
    font-size: 20px;
    line-height: 1.42857143;
    height: 70px;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background: #d4d8d9;
    border: none;
    border-radius: 0px;
}

#error_messages {
    color: red;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    margin-top: -20px;
}

.code_example_view p {
    margin: 0;
    padding: 0;
}

/* media query */

@media all and (max-width: 1260px) {
    #code_example {
        width: 35%;
        margin-left: -50px;
    }
    .code_example_view {
        font-size: 15px;
    }
    .code_example_view2 {
        font-size: 15px;
    }
}

@media all and (max-width: 1115px) {
    #code_example {
        margin-left: -10px;
    }
}

@media all and (max-width: 1100px) {
    #code_example {
        width: 32%;
    }
    .code_example_view {
        font-size: 13px;
    }
    .code_example_view2 {
        font-size: 13px;
    }
}

@media all and (max-width: 1080px) {
    .pick_languages {
        position: relative;
        max-width: 1010px;
        margin: 55px auto;
    }
    .pick_languages h1 {
        font-size: 4em;
    }
    #code_example {
        float: none;
        width: 482px;
        margin: 0 auto;
    }
    .code_example_view {
        position: relative;
        margin: 0 auto;
        font-size: 21px;
        height: 339px;
    }
    .code_example_view2 {
        position: relative;
        margin: -75px auto;
        margin-bottom: 20px;
        font-size: 21px;
        height: auto;
        border: none;
    }
    .styled-select {
        width: 100%;
        margin: 55px auto;
        padding-left: 160px;
        float: none;
    }
    .pick_languages h1 {
        font-size: 6em;
    }
    #start_language {
        margin-left: 257px;
        margin-top: -56px;
    }
    #end_language {
        margin-left: 378px;
        margin-top: -56px;
    }
}

@media all and (max-width: 860px) {
    .styled-select {
        padding-left: 110px;
    }
}

@media all and (max-width: 720px) {    
  .styled-select {
    padding-left: 20px;
  }
  .pick_languages h1 {
    font-size: 3em;
  }
  #start_language {
    margin-left: 133px;
    margin-top: -33px;
  }
  #end_language {
    margin-left: 193px;
    margin-top: -34px;
  }
}

@media all and (max-width: 510px) {
  #code_example {
    width: 400px;
  }
  .code_example_view {
    font-size: 17px;
  }
  .code_example_view2 {
    font-size: 17px;
  }
}

@media all and (max-width: 410px) {
    #code_example {
        width: 100%;
    }
    .code_example_view {
        font-size: 12px;
    }
    .code_example_view2 {
        font-size: 12px;
    }
}

@media all and (max-width: 409px) {
    .styled-select select {
        position: relative;
        top: -14px;
    }
    #start_language {
        margin-left: 27px
    }
    #end_language {
        margin-left: 27px;
    }
}

@-moz-document url-prefix() {
  #start_language {
    margin-left: 20px;
    margin-top: 30px;
  }
  #end_language {
    margin-left: 15px;
    margin-top: 29px;
  }
  @media all and (max-width: 720px) {
    #start_language {
        margin-left: 9px;
        margin-top: 12px;
    }
    #end_language {
        margin-left: 8px;
        margin-top: 12px;
    }
  }
}