.form-signin-heading {
  color: white;
}

.signup {
  margin-bottom: 20px;
}

#signup_header {
  color: white;
  text-align: center; 
}

.form-signin-heading {
  text-align: center;
  margin-top: 60px;
}