/* index page */

.answers {
  position: relative;
  margin: -123px auto;
  padding: 40px;
  padding-top: 140px;
  width: 80%;
  border-radius: 10px;
  background-color: rgba(229,242,247,0.9);
}

.answer-block,
.answers_list_item {
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  z-index: 100;
}

.question_index {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

.show_answer {
  height: auto;
}

.jimbo_header {
  position: relative;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  font-size: 2em;
  z-index: 100;
}

.add_answer {
  position: absolute;
  color: white;
  background-color: #4E9689;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 81px;
  left: 0;
  padding: 10px;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  z-index: 100;
}

.add_answer:hover {
  color: white;
  text-decoration: underline;
}

.submit_button {
  background-color: #9c4337 ;
  color: white;
}

.btn.submit_button:hover {
  color: white;
  background-color: #893b30;
}

/* show page */

.language_delta {
  margin-top: -20px;
  font-size: 1em;
}

.answers_list_item {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.answers_list_item:last-child {
  border: none;
}

.answers_index {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.answer-num {
  margin-top: 20px;
}

.user_name_submit {
  font-size: 0.7em;
}

.vote_form {
  display: inline;
}

.vote_count {
  display: inline-block;
  margin-top: 28px;
  font-size: 1em;
  background: none;
  border: none;
}

.vote_count.inactive {
  float: right;
}

@media all and (max-width: 1150px) {
  .answers {
    width: 100%;
  }
}

@media all and (max-width: 745px) {
  .add_answer {
    top: 110px;
    width: 100px;
    margin:0;
    padding: 3px 3px;
  }
}

@media all and (max-width: 670px) {
  .answers {
    margin: -140px auto;
  }
}
