.answers {
  position: relative;
  margin: 0 auto;
  padding: 40px;
  width: 60%;
  border-radius: 10px;
  background-color: rgba(229,242,247,0.9);
}

.answer-block {
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.question_index {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

.show_answer {
  height: auto;
}

.jimbo_header {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center
}

.add_answer {
  position: absolute;
  color: white;
  background-color: #4E9689;
  margin-bottom: 40px;
  right: 32px;
  top: 110px;
  padding: 50px;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.add_answer:hover {
  color: white;
  text-decoration: underline;
}

@media all and (max-width: 1190px) {
  .add_answer {
    padding: 20px;
  }
}

@media all and (max-width: 900px) {
  .answers {
    width: 100%;
  }
}

@media all and (max-width: 800px) {
  .add_answer {
    padding: 10px;
    font-size: 1em;
  }
}