textarea {
    resize: none;
    width:100%;
    height:150px;
}
#recorder {
    width: 400px;
    margin: 0 auto;
    tab-size: 3;
    -moz-tab-size: 3;
    -o-tab-size: 3;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 90%;
}
button#Record, button#Stop, button#Play, button#Clear, input#Save {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 95%;
}
#loader img {
    top:100px;
    left:50%;
    margin-left: -50px;
    width:100px;
    height:71px;

    position: absolute;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:2px solid #4E9689;
    background-color:#F4FCE8;
}

#recorder form {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
#recorder form input {
    float: right;
}


pre {
    height: 150px;
    margin: 20px 0 0 10px;
    tab-size: 3;
    -moz-tab-size: 3;
    -o-tab-size: 3;
    /*white-space: pre-wrap;*/
}
