textarea {
    resize: none;
    width:100%;
    height:150px;
}
#recorder {
    width: 400px;
    margin: 0 auto;
    tab-size: 3;
    -moz-tab-size: 3;
    -o-tab-size: 3;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 90%;
}

button#record, 
button#stop, 
button#play, 
button#reset, 
input#save {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 95%;
}

button#record, 
#preview_record, 
a.add_answer, 
a.submit_button, 
input.down_vote {
    background: #f85032;
    background: -moz-linear-gradient(top, #f85032 0%, #ef4c37 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f85032), color-stop(50%, #ef4c37), color-stop(51%, #f6290c), color-stop(71%, #f02f17), color-stop(100%, #e73827));
    background: -webkit-linear-gradient(top, #f85032 0%, #ef4c37 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
    background: -o-linear-gradient(top, #f85032 0%, #ef4c37 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
    background: -ms-linear-gradient(top, #f85032 0%, #ef4c37 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
    background: linear-gradient(to bottom, #f85032 0%, #ef4c37 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#e73827', GradientType=0);
    text-decoration: none;
    background: url(squared_metal_red.png);
}
button#record:hover, 
#preview_record:hover, 
a.add_answer:hover, 
a.submit_button:hover, 
input.down_vote:hover {
    background: #cf0404;
    background: url(squared_metal_red_hover.png);
    text-decoration: none;
}
button#reset {
    background: #ff9c51;
    background: -moz-linear-gradient(top, #ff9c51 0%, #ff9d5b 50%, #f78d0c 51%, #ea8817 71%, #f27202 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9c51), color-stop(50%, #ff9d5b), color-stop(51%, #f78d0c), color-stop(71%, #ea8817), color-stop(100%, #f27202));
    background: -webkit-linear-gradient(top, #ff9c51 0%, #ff9d5b 50%, #f78d0c 51%, #ea8817 71%, #f27202 100%);
    background: -o-linear-gradient(top, #ff9c51 0%, #ff9d5b 50%, #f78d0c 51%, #ea8817 71%, #f27202 100%);
    background: -ms-linear-gradient(top, #ff9c51 0%, #ff9d5b 50%, #f78d0c 51%, #ea8817 71%, #f27202 100%);
    background: linear-gradient(to bottom, #ff9c51 0%, #ff9d5b 50%, #f78d0c 51%, #ea8817 71%, #f27202 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9c51', endColorstr='#f27202', GradientType=0);
    background: url(squared_metal_orange.png);
}
button#reset:hover {
    background: #f17432;
    background: url(squared_metal_orange_hover.png);
}
button#play, 
#preview_play, 
button.play {
    background: #3f9df4;
    background: -moz-linear-gradient(top, #3f9df4 0%, #6cadd8 50%, #288efc 51%, #189bf2 71%, #2983f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f9df4), color-stop(50%, #6cadd8), color-stop(51%, #288efc), color-stop(71%, #189bf2), color-stop(100%, #2983f2));
    background: -webkit-linear-gradient(top, #3f9df4 0%, #6cadd8 50%, #288efc 51%, #189bf2 71%, #2983f2 100%);
    background: -o-linear-gradient(top, #3f9df4 0%, #6cadd8 50%, #288efc 51%, #189bf2 71%, #2983f2 100%);
    background: -ms-linear-gradient(top, #3f9df4 0%, #6cadd8 50%, #288efc 51%, #189bf2 71%, #2983f2 100%);
    background: linear-gradient(to bottom, #3f9df4 0%, #6cadd8 50%, #288efc 51%, #189bf2 71%, #2983f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f9df4', endColorstr='#2983f2', GradientType=0);
    background: url(squared_metal_blue_hover.png);
}
button#play:hover, 
#preview_play:hover, 
button.play:hover {
    background: #2983f2;
    background: url(squared_metal_blue.png);
}
input#save, 
#preview_save, 
a.answer, 
input.up_vote {
    background: #1ebf97;
    background: -moz-linear-gradient(top, #1ebf97 0%, #08b27f 50%, #24937f 51%, #4e9689 71%, #2c9380 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ebf97), color-stop(50%, #08b27f), color-stop(51%, #24937f), color-stop(71%, #4e9689), color-stop(100%, #2c9380));
    background: -webkit-linear-gradient(top, #1ebf97 0%, #08b27f 50%, #24937f 51%, #4e9689 71%, #2c9380 100%);
    background: -o-linear-gradient(top, #1ebf97 0%, #08b27f 50%, #24937f 51%, #4e9689 71%, #2c9380 100%);
    background: -ms-linear-gradient(top, #1ebf97 0%, #08b27f 50%, #24937f 51%, #4e9689 71%, #2c9380 100%);
    background: linear-gradient(to bottom, #1ebf97 0%, #08b27f 50%, #24937f 51%, #4e9689 71%, #2c9380 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ebf97', endColorstr='#2c9380', GradientType=0);
    text-decoration: none;
    border-color:#2c9380;
    background: url(squared_metal_light_blue.png);
}
input#save:hover, 
#preview_save:hover, 
a.answer:hover, 
input.up_vote:hover {
    text-decoration: none;
    background: #2c9380;
    border-color:#2c9380;
    background: url(squared_metal_light_blue_hover.png);
}
.cursor {
    background-color:red;
}
.record-off, 
.record-on {
    width:13px;
    height:13px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:1px solid #FFFFFF;
    background-color:#000000;
    float:left;
    margin: 0 8px 0 0;
    position: relative;
    top: 0;
}
#record {
    padding-left: 8px;
}
.record-off {
    background-color:#000000;
}
.record-on {
    background-color:#ffffff;
    background-image: -moz-radial-gradient(24% 32%, circle closest-side, #ffffff, #ff1414 100%);
    background-image: -webkit-radial-gradient(24% 32%, circle closest-side, #ffffff, #ff1414 100%);
    background-image: -o-radial-gradient(24% 32%, circle closest-side, #ffffff, #ff1414 100%);
    background-image: -ms-radial-gradient(24% 32%, circle closest-side, #ffffff, #ff1414 100%);
    background-image: radial-gradient(24% 32%, circle closest-side, #ffffff, #ff1414 100%)
}
form {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
form input {
    float: right;
}
pre {
    height: 150px;
    margin: 20px 0 0 10px;
    tab-size: 2;
    -moz-tab-size: 2;
    -o-tab-size: 2;
}
#view {
    background-color: rgba(229, 242, 247, 0);
    border: none;
    margin-top: 20px;
}
#answer_delta {
    margin-bottom: 15px;
}
@media all and (max-width: 600px) {
    #recorder {
        width: 100%;
    }
}
