<h1>Admin page</h1>
<p><%= link_to 'users', admin_users_path %></p>
<p><%= link_to 'courses', admin_courses_path %></p>
<p><%= link_to 'sections', admin_sections_path %></p>
<p><%= link_to 'tutorials', admin_tutorials_path %></p>
<p><% link_to 'videos', admin_videos_path %></p>
