
    <form method="post" action="/answers/create.json" name="recorder">
      <textarea name="box"></textarea>
      <input type="submit" value="save"/>
    </form>
    <button id="start">start</button>
    <button id="stop">stop</button>
    <button id="play">play</button>

    <pre><code id="view"></code></pre>